body {
  margin: auto;
  overflow: auto;
  background-size: 100%;
  background-image: url(mountain-scenery-vector-desktop-4k-blxxs2h9mzqcud0q.jpg);
}

*{
  color: white !important;
  font-family: Verdana, sans-serif;
}

.card {
  background-color: rgba(255, 255, 255, 0.25) !important ;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px) !important;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.form-control {
  background-color: rgba(255, 255, 255, 0.25) !important ;
}


.btn {
  width: 100%;
}

dd{
  font-size: medium;
}

.form-control:focus{
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  border: 2px solid #00a9ea !important;
}

@media only screen and (max-width: 1180px) {
  body {
    background-repeat: no-repeat;
    background-size: 161rem;
  }
}